/*Lunchok's CSS for tanlunchok.github.io/cv */

body p{
font-weight: 300;
}
.skill-section {
    display: flex;
    justify-content: center;
}
.skill-section .card{
width: fit-content;
margin: 0.1rem;
background-color: var(--bs-secondary-bg);
border: none;
font-weight: 360;
text-transform: capitalize;
}

.language-section {
    position: relative;
}
.language-section span{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    mix-blend-mode:normal;
}