/*Lunchok's CSS for tanlunchok.github.io/cv */

body p{
font-weight: 300;
}
.skill-section {
    display: flex;
    justify-content: center;
}
.skill-section .card{
width: fit-content;
margin: 0.2rem;
background-color: var(--bs-secondary-bg);
border: none;
font-weight: 360;
text-transform: uppercase;
padding: 0.4rem 0.8rem;
font-size: smaller;
letter-spacing: 0.1em;
}
/* .edu-section p{
    margin-bottom: 1em;
    line-height: .5rem;
} */
#edu-accordion-button.accordion-button::after {
    position: absolute;
    right: 2%;
    bottom: 0.5rem;
    opacity: 0.3;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}
.accordion-button:not(.collapsed)::after{
    
    opacity:0;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

#edu-accordion-button:not(.collapsed) {
    background-color: var(--bs-secondary-bg)!important;
}
#edu-accordion-button{
    box-shadow: none!important;
    color:unset!important;
}
.lang-section {
    position: relative;
}
.lang-section span{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    mix-blend-mode:normal;
}
