/*Lunchok's CSS for tanlunchok.github.io/cv */

body p {
    font-weight: 300;
}

.fs-09 {
    font-size: 0.9rem !important;
}

.skill-section {
    display: flex;
    justify-content: center;
}

.skill-section .card {
    width: fit-content;
    margin: 0.2rem;
    background-color: var(--bs-secondary-bg);
    border: none;
    font-weight: 360;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    font-size: smaller;
    letter-spacing: 0.1em;
}

.lang-section {
    position: relative;
}

.lang-section span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    mix-blend-mode: normal;
}

/* .edu-section p{
    margin-bottom: 1em;
    line-height: .5rem;
} */
#edu-accordion-button,
.accordion-work button {
    background-color: unset !important;
    box-shadow: none !important;
    color: unset !important;
}

.accordion-button::after {
    opacity: 0.3;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

#edu-accordion-button.accordion-button::after {
    position: absolute;
    right: 48.5%;
    bottom: 0.4rem;
}

.accordion-work .accordion-button::after {
    position: absolute;
    right: 1rem;
}

.accordion-button:not(.collapsed)::after {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.accordion-work .accordion-body,
#work-accordion-content-1 .accordion-body {
    background-color: var(--bs-secondary-bg);
}

#accordionWork .accordion-body p {
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.date-chip.stacked {
    text-align: center;
}

.date-chip.stacked small {
    display: block;
    font-size: 0.65rem;
    letter-spacing: 0.08em;
    color: #6c757d;
}

#contact p a {
    font-weight: lighter;
    text-decoration: none;
}

.btn-glow {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: box-shadow 1s ease;
}

.btn-glow:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
        0 0 24px rgba(13, 110, 253, 0.8);
}

.pulse-light {
    animation: glow 1.8s infinite ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #0d6efd;
    }

    50% {
        box-shadow: 0 0 20px #0d6efd;
    }

    100% {
        box-shadow: 0 0 5px #0d6efd;
    }
}

.explore-section a {
    text-decoration: none;
    margin: 0 0.4rem 0 0.4rem;
}

.floating-buttons {
    position: fixed;
    right: 1rem;
    top: 90%;
    transform: translateY(-50%);
    z-index: 1050;
    border: none;
    display: flex;
    flex-direction: column;
    /* stack vertically */
    gap: 10px;
    /* space between buttons */
    z-index: 1000;
    opacity: 0.5;
}